<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Virtual Lab</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/Semantic/semantic.min.css">
        <script src="/Semantic/semantic.min.js"></script>
        <link rel="stylesheet" href="/home.css">
        <link rel="icon" href="images\dscelogo.png">
        <title>Virtual-Labs</title>
        
</head>
<body>

  <div class="ui header" style="text-align:center;" id ="head">
  <a class="ui circular image" href="http://dsce.edu.in"><img src="images/dscelogo.jpg"></a>  <span style="color:#3053AB"> Dayananda Sagar College Of Engineering</span> 
 
  <br><p style="font-size:25px;margin-top:10px; text-align: center;">A Self Learning initiative by the Department of Computer Science</p>
</div>
<div>
<div id="toTop"><i class="chevron up icon"></i></div>
  <div class="ui  light grey inverted secondary huge menu">
  <a class="header item" href="/">
    Home
  </a>
 <a class="item">
    About Us
  </a>
  
</div>
</div>
 <div class="ui container"  >
  <h1 style="text-align:center;font-size:40px;margin-left:-10px;"><a style="color:black;" href="/titles">Virtual Tutorial Lab</a></h1><br><br>
 <div  class="ui raised  placeholder segment">

 <div>
    <a href="/admin/google">
        <div class=" huge ui google plus button" style="margin-right:200px" >
            <i class="small  centre user icon"></i>
             Teacher Login
        </div>
    </a>

    <a href="/StudentAuthentication/Authentication">
  <div class="huge ui facebook plus button"  style="margin-right:300px"  >
    Student Login
  </div></a>
</div>
  
  <div class="ui vertical divider">
    and
  </div>

 
</div>
<br><br>

  </div> 
  <div class="ui inverted  large segment" >
    <div class="ui grid" >
      <div class="five wide column" style="text-align:right ;">
      <h2 style="margin-top:15px;color:#365CCF;">
       Under the Guidance of :
      </h2>
      <p style="color:#E9F035;">HOD of Computer Science Dr. Ramesh Babu</p>
      <p style="margin-left:20px;color:#E9F035;">Prof. Amutha</p>
      <p style="margin-left:20px;color:#E9F035;">Prof. Anitha </p>
      <p></p>
      </div>
      <div class="five wide column">

      </div>
      <div class="five wide column" style="text-align:left">
      
      <h2 style=" margin-top:15px;color:#365CCF;">Student Co-ordinators:</h2>
      <!-- <p style=" margin-left:15px;color:#E9F035;">Harshith R S</p>
      <p style=" margin-left:15px;color:#E9F035;">Hemanth Kumar V</p>
      <p style=" margin-left:15px;color:#E9F035;">Anush D P</p> -->
      <p style=" margin-left:15px;color:#E9F035;">Anoop Satish Gejje</p>
      <p style=" margin-left:15px;color:#E9F035;">Ajaykumar S Hadimani</p>
      <p style=" margin-left:15px;color:#E9F035;">Jagadeesh Krishna S Nunna</p>
      
      </div>

    </div>
  
  </div>
</body>
</html>