<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Virtual Lab</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/Semantic/semantic.min.css">
    <script src="/Semantic/semantic.min.js"></script>
    <script src="js/Userfetch.js"></script>
    <link rel="stylesheet" href="/home.css">
    <link rel="icon" href="images\dscelogo.png">
    <title>Virtual-Labs</title>

</head>

<body onload="render()">

    <h1 class="ui header" style="text-align:center" id="head">
        <a class="ui circular image" href="http://dsce.edu.in"><img src="images/dscelogo.jpg"></a>
        <a href="/titles">Virtual Labs</a>
    </h1>
    <div id="toTop"><i class="chevron up icon"></i></div>
    <div id="toTop"><i class="chevron up icon"></i></div>
    <div class="ui  light grey inverted secondary huge menu">
        <a class="header item" href="/">
            Home
        </a>
        <a class="item">
            About Us
        </a>
        <h1 class="use"></h1>
        <a class="item" href="#">Placaments Preparation</a>
        <a class="item" href="/StudentAuthentication/Logout"> Logout</a>
    </div>
    </div>
    <div class="ui container" id="CardGrid">
        <div id="renderElements" class="ui stackable grid">            
        </div>
    </div>>
</body>
<script>
    
    data=JSON.parse(sessionStorage.getItem('semData'))
  
    var s=sessionStorage.getItem('sem');
    data=data[s];
    function render(){
        var str=''
            for(i in data){
                str+=`<div class="four wide column">
                <div class="ui raised card" id="car1">
                    <div class="content" id="Card1">
                        <div class="header">
                            <a href="/${data[i].link}">
                                ${data[i].name}
                            </a>
                        </div>
                    </div>
                    <div class="content">
                        <span class="CardBody">
                            ${data[i].tag}
                        </span>
                        <br><br>
                        <a class="ui button" onclick='subject("${data[i].subject}")' href="${data[i].link}">Go</a>
                    </div>
                </div>
            </div>`
            }


        document.getElementById('renderElements').innerHTML=str;
      
    }
    function subject(sub){
       
        // sessionStorage.setItem('subject',${data[i].subject})
        sessionStorage.setItem('subject',sub);
    }
</script>
</html>